body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  
}

audio {
  width: 350px;
  height: 70px;
}
.music-player {
  text-align: center;
  border: 5px solid rgb(8, 253, 8);
  border-radius: 10px;
  background-color: rgb(12, 12, 12);
}

#playlist {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

#playlist li {
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#playlist li:hover {
  background-color: #777676;
}


div {
  margin-left: 10px;

}

h2 {
  color: gainsboro;
  cursor: pointer;
}

h2:hover{
  color: white;
}

#topo {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
  #topo {
      padding: 8px 16px;
  }
}

h4 {
  color: white;
  cursor: pointer;
}

h4:hover{
  color: green;
}

/* css do botão*/

button {
  background-color: #2c2a2a;
  color: #05f311;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button.liked {
  background-color: #ff4466;
  color: #555353;
}

#likeCount {
  margin-top: 10px;
  color: rgb(44, 243, 5);
}

img { 
  cursor: pointer;
}

img:hover {
  transform: scale(2,1);
}

footer {
  color: rgb(129, 119, 119);
  font-style: italic;
}